body {
  font-family: roboto;
  font-style: normal;
}

header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.navigation {
  position: absolute;
  height: 16px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.estudio {
  width: 49px;
  left: 453px;
}

.portfolio {
  width: 65px;
  left: 552px;
}

.contact {
  width: 67px;
  left: 667px;
}

.main-display {
  display: flex;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: -4px;
  top: 80px;
  background: #2f303a;
}

.main-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.main-button {
  background-color: #2196f3;
  width: 197px;
  height: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.features {
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}

.contact-header {
  position: absolute;
  color: #757575;
  height: 16px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-mail {
  width: 135px;
  left: 1078px;
}

.header-phone {
  width: 118px;
  left: 1263px;
}

footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}

.contact-footer {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  top: 1812px;
}

.footer-mail {
  top: 1782px;
}

address {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2258px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}
